body{
    padding: 0 400px;
}

.contacts-list {
    border: 1px solid dodgerblue;
    padding: 30px 40px;
}

h5 {
    border: 1px solid deepskyblue;
    padding: 10px 30px;
}

a {
    text-decoration: none;
    font-size: 18px;
    padding: 40px;
    /* margin-top: 10px; */
}

li {
    /* text-decoration: none; */
    list-style-type: none;
    padding: 5px 0;
}

input {
    width: 540px;
    padding: 15px 40px;
}